#photo-image-canvas {
	padding: 8px;
	background-color: #fff;
	border: 1px solid #ccc;
}

#photo-image {
	
}

#photo-preview {
	width: 70px;
	height: 90px;
	position: absolute;
	left: 15px;
	top: 246px;
}

#passport {
	position: relative;
	background-image: url(/images/passport-preview.jpg);
	width: 273px;
	height: 380px;
}

.error {
	padding: 2em;
	background-color: #c00;
	border: #900;
}

.notice {
	padding: 2em;
	background-color: #0c0;
	border: #090;
}

#guide {
	
}

	#guide td {
		width: 33%;
		height: 120px;
		vertical-align: top;
	}

	#guide .active {
		background-color: yellow;
	}

	#guide .previous {
		background-color: gray;
	}
