html {
	background: #dbf1f9 url(/images/backgrounds/bg-top.png) 0 0 repeat-x;
	margin: 0;
}

.error {
	color: red;
}

.notice {
	color: green;
}

h1, h2, h3, h4, h5, h6 {
	letter-spacing: -1px;
}

h1 span {
	background-color: #333;
	color: #fff;
	font-size: 80%;
	padding: 5px;
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}

h4 {
	color: #666;
}

body {
	text-align: center;
	margin: 0;
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}

body div.content fieldset {
	border: none;
	padding: 0 0 0 0.1em;
	margin: 0 0 1em;
}

body div.content a {
	color: #3184c4;
}

body div#main div.content ul {
	margin-left: 0;
} 
body div#main div.content li {
	list-style: none;
	margin: 0;
	padding: 0 0 0 12px;
	background: transparent url(/images/bullet.png) 0 4px no-repeat;
}

div#header {
	position:relative;
	width: 84em;
	text-align:left;
	margin: 0 auto;
	height: 243px;

}

	div#header a.home {
		position: absolute;
		background: transparent url(/images/logo-bg.png) 0 0 no-repeat;
		top: 0;
		left: 0;
		width: 352px;
		height: 124px;
	}

		div#header a.home img {
			display: none;
		}

	div#header ul.nl {
		position: absolute;
		bottom: -1px;
		left: 30px;
		background: transparent url(/images/navigation.png) 0 0 no-repeat;
		width: 441px;
		height: 117px;
		z-index: 10000;
	}
	
		div#header ul.nl.active_step_1 { background-position: 0 -117px; }
		div#header ul.nl.active_step_2 { background-position: 0 -234px; }
		div#header ul.nl.active_step_3 { background-position: 0 -351px; }
	
		div#header ul.nl li {
			display: inline;
			float: left;
			/*background: yellow;*/
			margin: 0 5px 0 0;
			width: 142px;
			height: 117px;
		}
			div#header ul.nl li a {
				display: block;
				width: 142px;
				height: 117px;
			}
			div#header ul.nl li span {
				display: none;
			}


div#main {
	position:relative;
	width: 77em;
	text-align:left;
	margin: 0 auto;

	border: 1px solid #dbe0e2;
	padding: 1.5em 3.5em;
	background: #fff;
}
	div#main div#guy {
		position: absolute;
		top: -138px;
		right: -1px;
		width: 276px;
		height: 216px;
		background: transparent url(/images/guy.png) 0 0 no-repeat;
		z-index: 1000;
	}

	div#main div#tl {
		position: absolute;
		top: -1px;
		left: -1px;
		width: 12px;
		height: 12px;
		background: transparent url(/images/backgrounds/corners.png) 0 0 no-repeat;
		z-index: 1000;
	}
	div#main div#bl {
		position: absolute;
		bottom: -1px;
		left: -1px;
		width: 12px;
		height: 12px;
		background: transparent url(/images/backgrounds/corners.png) 0 -36px no-repeat;
		z-index: 1000;
	}
	div#main div#br {
		position: absolute;
		bottom: -1px;
		right: -1px;
		width: 12px;
		height: 12px;
		background: transparent url(/images/backgrounds/corners.png) 0 -24px no-repeat;
		z-index: 1000;
	}


	div#main div.content {
		overflow: auto;
	}
	
	div#main div.content div.lcol{
		float: left;
		margin-right: 6%;
		width: 37%;
	}
	div#main div.content div.rcol{
		float: left;
		width: 57%;
	}

	div.cols {
		overflow:auto;		
	}

	div#main div.content div.cols.adjust_photo div.lcol {
		float: left;
		margin-right: 32px;
		width: 498px;
	}
	div#main div.content div.cols.adjust_photo div.rcol {
		float: left;
		width: 240px;
		overflow: hidden;
	}

	#photo_uploaded_data {
		max-width: 280px; /* damn you firefox, even IE6 can do something with this element */
	}
	
	div#main div.content #photo-image-canvas {
		padding: 8px;
		width: 480px;
		background-color: #fff;
		border: 1px solid #ccc;
		margin: 0 0 1em;
	}

div#footer {
	position:relative;
	width: 84em;
	text-align:left;
	margin: 0 auto;
	padding: 0 0 4em;
}

	div#footer div.content {
		padding: 1em;
		text-align: center;
		color: #b0bfc4;		
	}
	
	div#footer div.content a {
		color: #b0bfc4;		
	}

	div#footer a.privacy {
		position: absolute;
		top: 1em;
		right: 3.5em;
	}
	
p.complete {
	padding-right: 15em;
}	

div.preview-img {
	float: right;
	width: 400px;
	margin: 0 0 2em 2em;
	border: 1px solid #dbe0e2;
}	

.buttons {
	width: 360px;
	text-align: center;
	padding-top: 32px;
}
	
a.download, a.buy {
	width: 126px;
	margin: 1em 0 3em;
}	
	