html {
	background: #dbf1f9 url( /images/backgrounds/bg-top.png?200901261123 ) 0 0 repeat-x;
	margin: 0;
}

body {
	text-align: center;
	margin: 0;
	font-family: 'Lucida Grande', Verdana, Geneva, Lucida, Arial, Helvetica, sans-serif;
}

div#header {
	position:relative;
	width: 84em;
	text-align:left;
	margin: 0 auto;
	height: 243px;

}

	div#header a.home {
		position: absolute;
		background: transparent url( /images/logo-bg.png?200901261123 ) 0 0 no-repeat;
		top: 0;
		left: 0;
		width: 352px;
		height: 124px;
	}

		div#header a.home img {
			display: none;
		}

	div#header ul.nl {
		position: absolute;
		bottom: -1px;
		left: 30px;
		background: transparent url( /images/navigation.png?200901261123 ) 0 0 no-repeat;
		width: 441px;
		height: 117px;
		z-index: 10000;
	}
	
		div#header ul.nl.active_step_1 {	background-position: 0 0; }
		div#header ul.nl.active_step_2 {	background-position: 0 -117px; }
		div#header ul.nl.active_step_3 { background-position: 0 -234px; }
	
		div#header ul.nl li {
			display: inline;
			float: left;
			/*background: yellow;*/
			margin: 0 5px 0 0;
			width: 142px;
			height: 117px;
		}
			div#header ul.nl li a {
				display: block;
				width: 142px;
				height: 117px;
			}
			div#header ul.nl li span {
				display: none;
			}


div#main {
	position:relative;
	width: 77em;
	text-align:left;
	margin: 0 auto;

	border: 1px solid #dbe0e2;
	padding: 1.5em 3.5em;
	background: #fff;
}

	div#main div.content {
		margin: ;
	}

	div#main div#guy {
		position: absolute;
		top: -138px;
		right: -1px;
		width: 276px;
		height: 216px;
		background: transparent url( /images/guy.png?200901261123 ) 0 0 no-repeat;
		z-index: 1000;
	}

div#footer {
	position:relative;
	width: 84em;
	text-align:left;
	margin: 0 auto;
	padding: 0 0 4em;
}

	div#footer a.logo {
		position: absolute;
		top: 0;
		left: 3.5em;
		background: transparent url( /images/footer-gazebo.png?200901261123 ) 0 0 no-repeat;
		width: 106px;
		height: 59px;
	}

		div#footer a.logo span {
			display: none;
		}

	div#footer div.content {
		padding: 1em;
		text-align: center;
		color: #b0bfc4;		
	}
	
	div#footer div.content a {
		color: #b0bfc4;		
	}

	div#footer a.privacy {
		position: absolute;
		top: 1em;
		right: 3.5em;
	}
	