<div id="guide">
	<table width="100%">
		<tr>
			<td class="<% if step == 1 %>active<% elsif step > 1 %>previous<% end %>">
				<span id="slogan2">Overfør billede</span>
			
			</td>
			<td class="<% if step == 2 %>active<% elsif step > 2 %>previous<% end %>">
				<span id="slogan2">Klip billedet til</span>

			</td>
			<td class="<% if step == 3 %>active<% elsif step > 3 %>previous<% end %>">
				<span id="slogan2">Gem og fremkald billedet</span>
			
			</td>
		</tr>
	</table>
</div>