<% @meta_description = 'Med BilledID kan du på få minutter gratis lave dine egne fotos til pas, kørekort eller dankort' %>
<div class="content">
	<h1>Hvad er BilledID?</h1>
	<p>Med <b>BilledID.dk</b> har du mulighed for selv at lave dine fotos til brug i pas, kørekort eller dankort &hellip; ganske gratis.</p>
	
	<div class="cols">
		<div class="lcol">
			<% form_for(@photo, :html => { :multipart => true }) do |f| %>
				<h2>Vælg dit billede</h2>
			  	<fieldset>
					<%= f.file_field :uploaded_data %>
				</fieldset>  
				<fieldset class="controls">
					<%= image_submit_tag '/images/buttons/upload.png', :class => 'button', :alt => 'Upload billede' %> 
				</fieldset>
			<% end %>
		</div>
		<div class="rcol">
			<h4>Vigtige krav til pasfoto</h4>
			<ul>
				<li>Ingen skygger i ansigtet eller på væggen</li>
			   <li>Ensfarvet (hvid) væg uden dekorationer eller mønstre</li>
			   <li>Naturligt ansigts-udtryk dvs. åbne øjne, lukket mund, let smil, højre øre synligt</li>
			   <li>Godt med plads/afstand rundt om hovedet</li>
			   <li>Når billedet er taget, overfører du det fra dit kamera til din computer og angiver lokationen til det i feltet til venstre.</li>
			</ul>			
			<p>
				<%= link_to 'Læs hele vejledningen &hellip;', guide_path, :rel => 'window' %>
			</p>
		</div>
	</div>
</div>