<% @meta_description = 'Med billedid kan du gratis lave dine egne pasfoto på få minutter' %>
<div class="content">
	<h1>Hvad er BilledID.dk?</h1>
	<p>Med <b>BilledID.dk</b> har du mulighed for at lave dine pasfoto gratis.</p>
	
	
	<div class="lcol">
		<% form_for(@photo, :html => { :multipart => true }) do |f| %>
			<h2>Vælg dit billede</h2>
		  	<fieldset>
				<%= f.file_field :uploaded_data %>
			</fieldset>  
			<fieldset class="controls">
				<%= f.submit "Upload billede" %>
			</end>
		<% end %>
	</div>
	<div class="rcol">
		<h4>Krav til pasfotos</h4>
		<ul>
			<li>Ingen skygger i ansiget eller på væggen</li>
		   <li>Ensfarvet (hvid) væg uden dekorationer eller mønstre</li>
		   <li>Naturligt ansigts-udtryk dvs. åbne øjne, lukket mund, let smil, højre øre synligt</li>
		   <li>Godt med plads/afstand rundt om hovedet</li>
		   <li>Når billedet er taget, overfører du det fra dit kamera til din computer og angiver lokationen til det i feltet til venstre.</li>
		</ul>
	</div>
	
</div>