<h1>Trin<span>1</span></h1>
<span id="slogan2">Overfør billede</span>

<% form_for(@photo, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <p>
		<%= f.file_field :uploaded_data %>
  </p>
  <p>
    <%= f.submit "Overfør billede" %> eller <%= link_to 'tilbage', photos_path %>
  </p>
<% end %>
