<h1>Trin <span>3</span> af 3 - Dit BilledId er færdigt!</h1>
<p>
	Husk at <%= link_to "hente dit BilledId ned på din computer", :action => :download %>.
</p>
<%= link_to( image_tag formatted_photo_path(@photo, 'jpg'), :action => :download ) %>
<% content_for :menu do -%>
	<p>
		<%= link_to "Tilbage", edit_photo_path(@photo) %>
		<%= link_to "Gem billede", :action => :download %>
	</p>
<% end %>