<h1>Trin <span>3</span> af 3</h1>
<span id="slogan2">Gem billede lokalt på din maskine</span>

<p>
	Vi har nu oprettet et billede til dig.
</p>

<%= image_tag formatted_photo_path(@photo, 'jpg') %>

<% content_for :menu do -%>
	<p>
		<%= link_to "Tilbage", edit_photo_path(@photo) %>
		<%= link_to "Gem billede", :action => :download %>
	</p>
<% end %>