<div class="content">
	<h1><span><b>3</b>/3</span> Dit foto er færdigt!</h1>

	<div class="preview-img"><%= link_to(image_tag(photo_path(@photo, :format => 'jpg'), :alt => 'Download det færdige billede', :width => 400, :height => 300), download_photo_path(@photo)) %></div>
	<p class="complete">
		Dit gratis foto er nu færdigt og du kan hente det ned på din computer
		og printe det ud.
	</p>
	<p>
		Har du ikke mulighed for selv at printe det kan du også vælge at
		købe dit billede hos PIXUM for <%= link_to('kun 0,75 DKK', new_pixum_path) %> 
		(under 30 DKK inkl. forsendelse) med det samme.
	</p>
	<p class="buttons">
		<%= link_to(image_tag('/images/buttons/buy.png', :alt => 'Køb billede hos PIXUM'), new_pixum_path, {:class => 'buy', :title => 'Køb billede hos PIXUM'}) %> 
		<%= link_to(image_tag('/images/buttons/download.png', :alt => 'Download det færdige billede'), download_photo_path(@photo), {:class => 'download', :title => 'Download dit færdige foto'}) %>
	</p>
</div>