<%- @meta_description = 'Vejledning til hvilke krav politiet har til et pasfoto.' -%>
<div class="content">
	<h1>Vejledning og politiets krav til pasfotos</h1>
	<p>
		Politiet har følgende krav til billeder der skal benyttes i kørekort eller pas:
	</p>

	<ul>
		<li><strong>det må ikke have skygger på baggrunden</strong></li>
		<li><strong>det skal være taget lige forfra, blikket rettet mod kameraet</strong></li>
		<li>det skal være i sort/hvid eller farve (gengives i s/h)</li>
		<li>det skal være 35 x 45 mm og hovedet skal være 25 - 35 mm i højden</li>
		<li>det skal være nyt</li>
		<li>det skal være fremstillet på almindeligt tyndt fotopapir</li>
		<li>det må ikke være stemplet, hullet eller på anden måde beskadiget</li>
		<li>det skal have tydelig kontrast mellem motiv og baggrund</li>
	</ul>
	
	<p>
		Bemærk, at de to markeret med fed skrift er de eneste du behøver være opmærksomhed på. Resten
		håndteres automatisk af BilledID når du køber dem igennem os.
	</p>
	
	<p>Læs eventuelt <a href="http://www.politi.dk/da/borgerservice/pas/pasbilleder/pasbilleder.htm" target="_blank">vejledningen fra politi.dk</a> for yderligere information.</p>
</div>