<div class="content">
	<h1>Vejledning til pasfotos</h1>
	
	<h2>Politiets krav</h2>
	<p>
		Politiet har følgende krav til billeder der skal benyttes til pas:
	</p>

	<ul>
		<li>det skal være 35 x 45 mm og hovedet skal være 25 - 35 mm i højden</li>
		<li>det skal være nyt</li>
		<li>det skal være fremstillet på almindeligt tyndt fotopapir</li>
		<li>det må ikke være stemplet, hullet eller på anden måde beskadiget</li>
		<li>det skal have tydelig kontrast mellem motiv og baggrund</li>
		<li>det må ikke have skygger på baggrunden</li>
		<li>det skal være i sort/hvid eller farve (gengives i s/h)</li>
		<li>det skal være taget lige forfra, blikket rettet mod kameraet</li>
    <li>læs eventuelt <a href="http://www.politi.dk/da/borgerservice/pas/pasbilleder/pasbilleder.htm" target="_blank">vejledningen fra politi.dk</a></li>
	</ul>
</div>