<div class="content">
	<h1>Fortrolighed</h1>

	<h3>Beskyttelse af personlige oplysninger</h3>
	<p>
		Denne erklæring gælder for Gazebos produkter, tjenester og websteder i hele verden (samlet benævnt Gazebos &raquo;tjenester&laquo;). Personlige oplysninger og andre data, som vi indsamler.
	</p>
	<ul>
		<li>Gazebo indsamler personlige oplysninger, når du tilmelder dig en tjeneste eller på anden måde frivilligt angiver sådanne oplysninger. I visse tilfælde kan vi kombinere de personlige oplysninger, der indsamles fra dig, med oplysninger fra andre tjenester eller tredjeparter for at give dig den bedste brugeroplevelse og bl.a. tilpasse det viste indhold til dig.</li>
		<li>Gazebo bruger cookies og andre teknologier til at forbedre din oplevelse på internettet og få mere at vide om, hvordan du bruger Gazebos tjenester, så vi kan forbedre kvaliteten af vores tjenester.</li>
		<li>Når du besøger Gazebos websted eller bruger et af vores produkter, registrerer vores servere automatisk bestemte oplysninger, såsom webadresse, IP-adresse, browsertype og -sprog samt dato og tidspunkt for din forespørgsel.</li>
	</ul>

	<h3>Anvendelse</h3>
	<ul>
		<li>Vi kan bruge personlige oplysninger til at tilvejebringe de tjenester, du anmoder om, herunder tjenester, der viser brugertilpasset indhold og annoncering.</li>
		<li>Vi kan også bruge personlige oplysninger til gennemgang, undersøgelse og analyse med henblik på at anvende og forbedre Gazebos teknologier og tjenester.</li>
		<li>Vi deler muligvis indsamlede oplysninger, der ikke er personlige, med tredjepart uden for Gazebo.</li>
		<li>Når vi benytter os af tredjeparter til at hjælpe os med at behandle dine personlige oplysninger, kræver vi, at disse parter overholder vores politik til beskyttelse af personlige oplysninger og anvender andre relevante fortroligheds- og sikkerhedsforanstaltninger.</li>
		<li>Vi kan også i begrænset omfang dele oplysninger med tredjeparter, når vi f.eks. skal tage del i juridisk behandling, forebygge svindel eller overhængende fare og sikre vores netværk og tjenester.</li>
		<li>Gazebo behandler personlige oplysninger på vores servere i USA og i andre lande. I visse tilfælde behandler vi personlige oplysninger på en server uden for dit hjemland.</li>
	</ul>
	
	<h3>Dine valg</h3>
	<ul>
		<li>Så vidt det overhovedet er muligt, giver vi dig nogle valgmuligheder, når vi beder om personlige oplysninger. Du kan finde flere oplysninger om dine valgmuligheder i de bemærkninger om beskyttelse af personlige oplysninger og de ofte stillede spørgsmål, der angives for bestemte tjenester.</li>
		<li>Du kan nægte at give os personlige oplysninger og/eller nægte at modtage cookies i din browser, selv om dette vil medføre, at nogle af vores funktioner eller tjenester muligvis ikke vil fungere korrekt.</li>
		<li>Vi gør vores yderste for på anmodning at give dig adgang til dine personlige oplysninger og for, at du kan rette eventuelle upræcise oplysninger eller slette dem, så vidt det er muligt.</li>
	</ul>
</div>